@model IEnumerable<Booking>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@* <div class="row">
    <div class="col-md-8">
        <form class="form-header" asp-action="Index" method="GET">
            <input class="au-input au-input--xl" type="text" asp-for="SearchString" placeholder="Search for datas &amp; reports..." />
            <button class="au-btn--submit" type="submit">
                <i class="zmdi zmdi-search"></i>
            </button>
        </form>
    </div>
    <div class="col-md-4">
    </div>
</div> *@
<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1 m-b-25">Hotel reservation list</h2>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-lg-12">
        
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>BookingId</th>
                        <th>Name</th>
                        <th>IdentityCard</th>
                        <th>Phone</th>
                        <th>BookingDate</th>
                        <th>Status</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    
                    @foreach (var booking in Model)
                     {    
                         if(@booking.Items.Count()>0)
                            {      
                            <tr style="font-size:20px;text-align:center">
                                <th>@booking.BookingId</th>
                                <th>@booking.Name</th>
                                <th>@booking.IdentityCard</th>
                                <th>@booking.Phone</th>
                                <th>@booking.BookingDate</th>
                                <th>@booking.Status</th>
                                <td>
                                    <a asp-action="Details" asp-controller="BookingManager" class="btn btn-info" asp-route-bookingId="@booking.BookingId">Details</a> 
                                </td>
                            </tr>
                            }
                     }
                </tbody>
            </table>
        </div>
    </div>
</div>