@model Hotel
            <form method="POST" asp-controller="Cart" asp-action="AddToCart">
            <div class="col-md-7">
                <img src="@Model.ImageUrl"/>
            </div>
            

            <div class="desc col-md-5">
                <h3>@Model.HotelName</h3>
                <h3>@Model.HotelID</h3>
                <p>Address: @Model.Address, @Model.City.CityName
                <input class="esh-catalog-button" type="submit" value="See Room List" />
            
            </div>
            <input type="hidden" asp-for="@Model.HotelID"/>
            <input type="hidden" asp-for="@Model.HotelName"/>
            <input type="hidden" asp-for="@Model.ImageUrl"/>
    </form>            
