@model Room
	
            <div class="col-md-4">
					<div class="hotel-content">
						
						<div class="hotel-grid" style="background-image: url(@Model.ImageUrl);">
							<div class="price">
								@if(@Model.RoomNumber>0)
								{
									<small>Number of rooms available: </small><span>@Model.RoomNumber</span>
								}
								else
								{
									<small>No room left</small>
								}	
							</div>
							@* <a class="book-now text-center" asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.HotelID"><i class="ti-calendar"></i>Select</a> *@											
							@if(!User.Identity.IsAuthenticated)
							{
								<input class="book-now text-center" disabled type="submit" value="Select" >
							}
							else
							{
								<input class="book-now text-center" type="submit" value="Select" >
							}
						</div>
						<div class="desc">
							
							<h3>@Model.RoomName</h3>
							@if(@Model.RoomNumber>0)
								{
									<p>Number of rooms: <input class="form-control-lg" type="number" asp-for="@Model.NumberOfRoomsBooked" data-decimals="0" min="1" max="@Model.RoomNumber" step="1"/></p>
								}
								else
								{
									<p>Number of rooms: <input class="form-control-lg" type="number" asp-for="@Model.NumberOfRoomsBooked" data-decimals="0" min="0" max="@Model.RoomNumber" step="1"/></p>
								}	
							
                            <p>Category: @Model.RoomCategoryName</p>
							<p>Room area: @Model.RoomArea</p>
							<p>Number of beds: @Model.NumberOfBeds</p>
						</div>
					</div>
				</div>
	<input type="hidden" asp-for="@Model.HotelID">
	<input type="hidden" asp-for="@Model.RoomID">
	<input type="hidden" asp-for="@Model.Hotel.HotelName">
	<input type="hidden" asp-for="@Model.RoomName">
	<input type="hidden" asp-for="@Model.RoomArea">
	<input type="hidden" asp-for="@Model.NumberOfBeds">
	<input type="hidden" asp-for="@Model.UnitPrice">
	<input type="hidden" asp-for="@Model.RoomCategoryName">
	<input type="hidden" asp-for="@Model.Hotel.Address">
	<input type="hidden" asp-for="@Model.Hotel.OwnerID">
	<input type="hidden" asp-for="@Model.Hotel.City">
	<input type="hidden" asp-for="@Model.ImageUrl">