@model HotelViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Medium input -->
<div class="row">
    <div class="col-md-3"><hr/></div>
    <div class="col-md-6" >
        <div style="text-align:center">
            <h1 class="title-1 m-b-25">Create room category</h1>
        </div>
    </div>
    <div class="col-md-3"><hr/></div>
</div>
<form style="width: 500px;margin-left:250px" method="POST" enctype="multipart/form-data"  >
<div class="md-form">
  <input type="hidden" asp-for="@Model.Hotel.HotelID" class="form-control">
</div>
<div class="md-form">
  <label asp-for="@Model.Hotel.HotelName"></label>
  <input type="text" asp-for="@Model.Hotel.HotelName" class="form-control" size="100px !important ">
</div>
<div class="md-form">
  <label asp-for="@Model.Hotel.Address"></label>
  <input type="text" asp-for="@Model.Hotel.Address" class="form-control" size="100px !important ">
</div>
<div class="md-form">
  <label>City:</label>
    <select asp-for="@Model.Hotel.CityID">
      @foreach (var item in Model.Cities)
      {
        <option value="@item.CityID">@item.CityName</option>  
      }
    </select>
</div>
<div class="md-form">
  <label asp-for="@Model.ImageUrl"></label>
  <input type="file" asp-for="@Model.ImageUrl" class="form-control" size="100px !important ">
</div>
<div class="md-form" style="margin-top:20px;">
  <a asp-action="Index" class="btn btn-primary mb-2" >Back</a>
  <button type="submit" class="btn btn-danger" >Create</button>
</div>
</form>


