@model RoomViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-3"><hr/></div>
    <div class="col-md-6" >
        <div style="text-align:center">
            <h1 class="title-1 m-b-25">create room for hotel with id = @Model.HotelId </h1>
        </div>
    </div>
    <div class="col-md-3"><hr/></div>
</div>
<form method="POST" enctype="multipart/form-data">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="@Model.HotelId">
    <input type="hidden" asp-for="@Model.Room.HotelID">
    <div class="row" style="margin-top:40px">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">Room Name:</div>
            <div class="col-md-7">
            <input type="text" class="form-control" asp-for="@Model.Room.RoomName">    
            <span asp-validation-for="@Model.Room.RoomName" style="font-size:14px" class="text-danger"></span>         
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">Number of Rooms:</div>
            <div class="col-md-7">
                <input type="text" class="form-control" asp-for="@Model.Room.RoomNumber">
                 <span asp-validation-for="@Model.Room.RoomNumber" style="font-size:14px" class="text-danger"></span>  
            </div>
        </div>
        <div class="row">
           <div class="col-md-5">Room Category:</div> 
            <div class="col-md-7">
            <select class="form-control" asp-for="@Model.Room.RoomCategoryName">
                    @foreach (var item in Model.RoomCategories)
                    {
                            <option value="@item.CategoryName">@item.CategoryName</option>  
                    }
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">Room area:</div>
            <div class="col-md-7">
                <input type="text" class="form-control" asp-for="@Model.Room.RoomArea">
                 <span asp-validation-for="@Model.Room.RoomArea" style="font-size:14px" class="text-danger"></span>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">Number of beds:</div>
            <div class="col-md-7">
                <input type="text" class="form-control" asp-for="@Model.Room.NumberOfBeds">
                 <span asp-validation-for="@Model.Room.NumberOfBeds" style="font-size:14px" class="text-danger"></span>  
            </div>
        </div>
        <div class="row">
           <div class="col-md-5">Unit Price(USD)/Day:</div> 
            <div class="col-md-7">
                <input type="text" class="form-control" asp-for="@Model.Room.UnitPrice">
                 <span asp-validation-for="@Model.Room.UnitPrice" style="font-size:14px" class="text-danger"></span>  
            </div>
         </div>
        <div class="row">
            <div class="col-md-12">
                <a asp-action="SeeRoomList" asp-controller="Hotel" class="btn btn-danger" asp-route-id="@Model.HotelId">Back</a>
                <button type="submit" class="btn btn-danger" >Create</button>
            </div>
        </div>
        
    </div>

</div>
<div class="row">
            <div class="col-md-12">
                 <h2>Upload image</h2>
            </div>
</div>
<div class="row">
            <div class="col-md-12">
                 <input type="file" asp-for="@Model.ImageUrl">
                 <span asp-validation-for="@Model.ImageUrl" style="font-size:14px" class="text-danger"></span> 
            </div>
</div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}