@model HotelViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="row">
    <div class="col-md-3"><hr/></div>
    <div class="col-md-6" >
        <div style="text-align:center">
            <h1 class="title-1 m-b-25">Edit hotel with id = @Model.Hotel.HotelID</h1>
        </div>
    </div>
    <div class="col-md-3"><hr/></div>
</div>
<form method="POST" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Hotel.HotelID">
    <input type="hidden" asp-for="@Model.ImageUrlDisplay">
    <input type="hidden" asp-for="@Model.Hotel.OwnerID">
    <input type="hidden" asp-for="@Model.Hotel.HotelStatus">
    <div class="row" style="margin-top:40px">
    <div class="col-md-5">
        <img src="@Model.Hotel.ImageUrl"/>
     </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-7">Hotel Name:</div>
            <div class="col-md-5">
                <input type="text" class="form-control" asp-for="@Model.Hotel.HotelName">
                 <span asp-validation-for="@Model.Hotel.HotelName" style="font-size:18px" class="text-danger"></span>       
            </div>
        </div>
        <div class="row">
           <div class="col-md-7">Address:</div> 
            <div class="col-md-5">
                <input type="text" class="form-control" asp-for="@Model.Hotel.Address">
                 <span asp-validation-for="@Model.Hotel.Address" style="font-size:18px" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
           <div class="col-md-7">City:</div> 
            <div class="col-md-5">
                <input type="text" class="form-control" asp-for="@Model.Hotel.City">
                 <span asp-validation-for="@Model.Hotel.City" style="font-size:18px" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a asp-action="Index" asp-controller="Hotel" class="btn btn-danger">Back</a>
                <button type="submit" class="btn btn-danger" >Edit</button>
            </div>
        </div>
        
    </div>

</div>
<div class="row">
            <div class="col-md-12">
                 <h2>Change image</h2>
            </div>
</div>
<div class="row">
            <div class="col-md-12">
                 <input type="file" asp-for="@Model.ChangeImageUrl">
            </div>
</div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
