@model HotelViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="row" style="margin-top:40px">
    <div class="col-md-12">
        <h1>Thông tin chi tiết của khách sạn @Html.DisplayFor(model => model.Hotel.HotelName)</h1>
     </div>
</div>
<form method="POST" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Hotel.HotelID">
    <input type="hidden" asp-for="@Model.ImageUrlDisplay">
    <input type="hidden" asp-for="@Model.Hotel.OwnerID">
    <div class="row" style="margin-top:40px">
    <div class="col-md-5">
        <img src="@Model.Hotel.ImageUrl"/>
     </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-7">Hotel Name:</div>
            <div class="col-md-5">
                <input type="text" class="form-control" asp-for="@Model.Hotel.HotelName">       
            </div>
        </div>
        <div class="row">
           <div class="col-md-7">Address:</div> 
            <div class="col-md-5">
                <input type="text" asp-for="@Model.Hotel.Address">
            </div>
        </div>
        <div class="row">
           <div class="col-md-7">City:</div> 
            <div class="col-md-5">
            <select asp-for="@Model.Hotel.CityID">
                    @foreach (var item in Model.Cities)
                    {
                        @if(item.CityName == @Model.Hotel.City.CityName )
                        {
                            <option value="@item.CityID" selected="selected">@item.CityName</option>  
                        }
                        else
                        {
                            <option value="@item.CityID">@item.CityName</option>
                        }
                    }
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a asp-action="Index" asp-controller="Hotel" class="btn btn-danger">Back</a>
                <button type="submit" class="btn btn-danger" >Edit</button>
            </div>
        </div>
        
    </div>

</div>
<div class="row">
            <div class="col-md-12">
                 <h2>Change image</h2>
            </div>
</div>
<div class="row">
            <div class="col-md-12">
                 <input type="file" asp-for="@Model.ImageUrl">
            </div>
</div>
</form>
