@model RoomViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<div class="row">
    <div class="col-md-3"><hr/></div>
    <div class="col-md-6" >
        <div style="text-align:center">
            <h1 class="title-1 m-b-25">Edit room with id = @Model.Room.RoomID</h1>
        </div>
    </div>
    <div class="col-md-3"><hr/></div>
</div>
<form method="POST" enctype="multipart/form-data">
    <input type="hidden" asp-for="@Model.Room.HotelID">
    <input type="hidden" asp-for="@Model.Room.RoomID">
    <input type="hidden" asp-for="@Model.Room.OwnerId">
    <input type="hidden" asp-for="@Model.ImageUrlDisPlay">
    <div class="row" style="margin-top:40px">
    <div class="col-md-5">
        <img src="@Model.Room.ImageUrl"/>
     </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-7">Room Name:</div>
            <div class="col-md-5">
                <input type="text" class="form-control" asp-for="@Model.Room.RoomName">       
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">Room Number:</div>
            <div class="col-md-5">
                <input type="text" class="form-control" asp-for="@Model.Room.RoomNumber">
            </div>
        </div>
        <div class="row">
           <div class="col-md-7">Room Category:</div> 
            <div class="col-md-5">
            <select asp-for="@Model.Room.RoomCategoryID">
                    @foreach (var item in Model.RoomCategories)
                    {
                        @if(item.CategoryName == @Model.Room.RoomCategory.CategoryName )
                        {
                            <option value="@item.RoomCategoryID" selected="selected">@item.CategoryName</option>  
                        }
                        else
                        {
                            <option value="@item.RoomCategoryID">@item.CategoryName</option>
                        }
                    }
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">Room area:</div>
            <div class="col-md-5">
                <input type="text" class="form-control" asp-for="@Model.Room.RoomArea">
                 <span asp-validation-for="@Model.Room.RoomArea" style="font-size:14px" class="text-danger"></span>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">Number of beds:</div>
            <div class="col-md-5">
                <input type="text" class="form-control" asp-for="@Model.Room.NumberOfBeds">
                 <span asp-validation-for="@Model.Room.NumberOfBeds" style="font-size:14px" class="text-danger"></span>  
            </div>
        </div>
        <div class="row">
           <div class="col-md-7">Room Status:</div> 
            <div class="col-md-5">
                <input type="hidden" asp-for="@Model.Room.RoomStatus">
                @if(Model.Room.RoomStatus == 1)
                {
                    <a class="btn btn-danger">Can put</a>
                }
                else
                {
                   <a class="btn btn-info">Reserved</a> 
                }
            </div>
        </div>
        <div class="row">
           <div class="col-md-7">Unit Price:</div> 
            <div class="col-md-5">
                <input type="text" class="form-control" asp-for="@Model.Room.UnitPrice">
            </div>
         </div>
        <div class="row">
            <div class="col-md-12">
                <a asp-action="SeeRoomList" asp-controller="Hotel" class="btn btn-danger" asp-route-id="@Model.Room.HotelID">Back</a>
                <button type="submit" class="btn btn-danger" >Edit</button>
            </div>
        </div>
        
    </div>

</div>
<div class="row">
            <div class="col-md-12">
                 <h2>Change image</h2>
            </div>
</div>
<div class="row">
            <div class="col-md-12">
                 <input type="file" asp-for="@Model.ChangeImageUrl">
            </div>
</div>
</form>
