@model HotelViewModel
@inject IAuthorizationService AuthorizationService
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1 m-b-25">Hotel</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <form class="form-header" asp-action="Index" method="GET">
            <input class="au-input au-input--xl" type="text" asp-for="SearchString" placeholder="Search for datas &amp; reports..." />
            <button class="au-btn--submit" type="submit">
                <i class="zmdi zmdi-search"></i>
            </button>
        </form>
    </div>
    <div class="col-md-4" style="text-align:center">
        <a asp-controller="Hotel" asp-action="Create" class="au-btn au-btn-icon au-btn--blue">
                    <i class="zmdi zmdi-plus"></i>Add
        </a>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-lg-12">
        
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning" style="font-size: 18px;">
                <thead>
                    <tr style="text-align:center">
                        <th>@Html.DisplayNameFor(model => model.Hotels[0].HotelID)</th>
                        <th>@Html.DisplayNameFor(model => model.Hotels[0].HotelName)</th>
                        <th>@Html.DisplayNameFor(model => model.Hotels[0].HotelStatus)</th>
                        <th>@Html.DisplayNameFor(model => model.Hotels[0].Address)</th>
                        <th>@Html.DisplayNameFor(model => model.Hotels[0].City.CityName)</th>
                        <th>@Html.DisplayNameFor(model => model.Hotels[0].OwnerID)</th>
                        <th>@Html.DisplayNameFor(model => model.Hotels[0].ImageUrl)</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hotel in Model.Hotels)
                     {
                    <tr style="font-size:20px;text-align:center">
                        <td>@Html.DisplayFor(model => hotel.HotelID)</td>
                        <td>@Html.DisplayFor(model => hotel.HotelName)</td>
                        <td style="color: red;">@Html.DisplayFor(model => hotel.HotelStatus)</td>
                        <td>@Html.DisplayFor(model => hotel.Address)</td>
                        <td>@Html.DisplayFor(model => hotel.City.CityName)</td>
                        <td>@Html.DisplayFor(model => hotel.OwnerID)</td>
                        <td><img src="@hotel.ImageUrl" /></td>
                        <td>
                            <a asp-action="SeeRoomList" asp-controller="Hotel" class="btn btn-secondary" asp-route-id="@hotel.HotelID">Room list</a>
                            <a asp-action="Details" asp-controller="Hotel" class="btn btn-info" asp-route-id="@hotel.HotelID">Details</a> 
                            <a asp-action="Index" asp-controller="BookingManager" class="btn btn-success" asp-route-id="@hotel.HotelID">Booking list</a>
                            @if((await AuthorizationService.AuthorizeAsync(User,hotel,HotelOperations.Delete)).Succeeded)
                                {
                            <a asp-action="Edit" asp-controller="Hotel" class="btn btn-secondary" asp-route-id="@hotel.HotelID">Edit</a> 
                            <a asp-action="Delete" asp-controller="Hotel" class="btn btn-danger" asp-route-id="@hotel.HotelID">Delete</a>
                                }
                        </td>
                        
                    </tr>
                     }
                </tbody>
            </table>
        </div>
    </div>
    
</div>