@model RoomViewModel
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row" >
    <div class="col-md-8">
        <form class="form-header" asp-action="Index" method="GET">
            <input class="au-input au-input--xl" type="text" asp-for="SearchString" placeholder="Search for datas &amp; reports..." />
            <button class="au-btn--submit" type="submit">
                <i class="zmdi zmdi-search"></i>
            </button>
        </form>
    </div>
    <div class="col-md-4">
        <a asp-controller="Hotel" asp-action="CreateRoom" asp-route-id="@Model.HotelId" class="au-btn au-btn-icon au-btn--blue">
                    <i class="zmdi zmdi-plus"></i>Add Room
        </a>
    </div>
</div>
@if(@Model.Rooms.Count >0)
{
<div class="row" style="margin-top:40px">
    <div class="col-md-12">
        <h1>hotel room list </h1>
     </div>
</div>
@foreach (var room in Model.Rooms)
{
    <div class="row" style="margin-top:40px">
    <div class="col-md-5">
        <img src="@room.ImageUrl"/>
     </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-7">Room Name:</div>
            <div class="col-md-5">@room.RoomName</div>
        </div>
        <div class="row">
            <div class="col-md-7">Room Number:</div>
            <div class="col-md-5">@room.RoomNumber</div>
        </div>
        <div class="row">
           <div class="col-md-7">Room Category:</div> 
            <div class="col-md-5">@room.RoomCategory.CategoryName</div>
        </div>
        <div class="row">
           <div class="col-md-7">Room Status:</div> 
            <div class="col-md-5">
                @if(room.RoomStatus == 1)
                {
                    <p>Can Put</p>
                }
                else
                {
                   <p>Reserved</p> 
                }
            </div>
        </div>
        <div class="row">
           <div class="col-md-5">Unit Price:</div> 
            <div class="col-md-7">@room.UnitPrice</div>
        </div>
        <div class="row">
            @* <input type="hidden" asp-for="@room.HotelID"> *@
           <a asp-action="EditRoom" asp-controller="Hotel" class="btn btn-secondary" asp-route-hotelID="@room.HotelID" asp-route-roomID="@room.RoomID">Edit</a> 
           <a asp-action="DetailsRoom" asp-controller="Hotel" class="btn btn-info" asp-route-hotelID="@room.HotelID" asp-route-roomID="@room.RoomID">Details</a> 
           <a asp-action="DeleteRoom" asp-controller="Hotel" class="btn btn-danger" asp-route-hotelID="@room.HotelID" asp-route-roomID="@room.RoomID">Delete</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12"><hr></div>
</div>    
}
}
else
{
    <div class="row" style="margin-top:40px">
    <div class="col-md-12" style="text-align: center;">
        <h1>No Data</h1>
     </div> 
    </div>    
}
