@model RoomViewModel
@inject IAuthorizationService AuthorizationService
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-3"><hr/></div>
    <div class="col-md-6" >
        <div style="text-align:center">
            <h1 class="title-1 m-b-25">Room list of hotel with id = @Model.HotelId </h1>
        </div>
    </div>
    <div class="col-md-3"><hr/></div>
</div>
<div class="row" >
    <div class="col-md-8">
        <form class="form-header" asp-action="Index" method="GET">
            <input class="au-input au-input--xl" type="text" asp-for="SearchString" placeholder="Search for datas &amp; reports..." />
            <button class="au-btn--submit" type="submit">
                <i class="zmdi zmdi-search"></i>
            </button>
        </form>
    </div>
    <div class="col-md-4">
        <a asp-controller="Hotel" asp-action="CreateRoom" asp-route-id="@Model.HotelId" class="au-btn au-btn-icon au-btn--blue">
                    <i class="zmdi zmdi-plus"></i>Add Room
        </a>
    </div>
</div>
@if(@Model.Rooms.Count >0)
{
@foreach (var room in Model.Rooms)
{
    <div class="row" style="margin-top:40px">
    <div class="col-md-5">
        <img src="@room.ImageUrl" width="266.6px" height="300px"/>
     </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-7">Room name:</div>
            <div class="col-md-5">@room.RoomName</div>
        </div>
        <div class="row">
            <div class="col-md-7">Number of rooms:</div>
            <div class="col-md-5">@room.RoomNumber</div>
        </div>
        <div class="row">
           <div class="col-md-7">Room category:</div> 
            <div class="col-md-5">@room.RoomCategoryName</div>
        </div>
        <div class="row">
           <div class="col-md-7">Unit price:</div> 
            <div class="col-md-5">@room.UnitPrice</div>
        </div>
        <div class="row">       
            <a asp-action="EditRoom" asp-controller="Hotel" class="btn btn-secondary" asp-route-hotelID="@room.HotelID" asp-route-roomID="@room.RoomID">Edit</a> 
            <a asp-action="DetailsRoom" asp-controller="Hotel" class="btn btn-info" asp-route-hotelID="@room.HotelID" asp-route-roomID="@room.RoomID">Details</a> 
            <a asp-action="DeleteRoom" asp-controller="Hotel" class="btn btn-danger" asp-route-hotelID="@room.HotelID" asp-route-roomID="@room.RoomID">Delete</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12"><hr></div>
</div>    
}
}
else
{
    <div class="row" style="margin-top:40px">
    <div class="col-md-12" style="text-align: center;">
        <h1>No Data</h1>
     </div> 
    </div>    
}
<a asp-action="Index" asp-controller="Hotel" class="btn btn-info" >Back</a>
