@model Booking
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
<form asp-action="Create" asp-controller="Booking" method="POST">
    
    <section class="esh-orders_new-section">
        <h4 class="esh-orders_new-title">Check-in information</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.Name" class="esh-orders_new-title">Name:</label>
                    <input asp-for="@Model.Name" class="form-control form-input" type="text" placeholder="Name" />
                    <span asp-validation-for="@Model.Name" class="alert-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.Phone" class="esh-orders_new-title">Phone:</label>
                    <input asp-for="@Model.Phone" class="form-control form-input" type="text" placeholder="Phone" />
                    <span asp-validation-for="@Model.Phone" class="alert-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.IdentityCard" class="esh-orders_new-title">IdentityCard</label>
                    <input asp-for="@Model.IdentityCard" class="form-control form-input" type="text" placeholder="IdentityCard" />
                    <span asp-validation-for="@Model.IdentityCard" class="alert-danger"></span>
                </div>
            </div>
        </div>
    </section>
    
    @await Html.PartialAsync("_bookingItem")
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align:center">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_060p6yTriZzNuEtVb0StlhOu00hhKMl55T"
                        data-amount="@ViewBag.PaymentAmount"
                        data-name="[My Company Name]"
                        data-description="10 rubberducks for 1$ each"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="en"
                        data-zip-code="true"
                        data-label="Pay">
            </script>
        </div>
        <div class="col-md-4">
            <input type="hidden" asp-for="@Model.Total"/>
            <h2>@Model.Total USD</h2>
        </div>
    </div>
</form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}